/* 2D Transform
  --- Rotate
  - deg => Degrees (0 - 90 - 180 - 270 - 360 )
  يقبل القيمة السالبة ويصبح يلف عكسيا
  هاي اهم وحدة قياس والباقي مش مهم كثير 
  - rad => Radians
  - grad => Gradians
  - turn => Turn
*/

.t {
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

.t:hover {
  transition: 2s;
  transform: rotate(45deg);
  /* transform: rotate(1turn); */
  /* transform: rotate(0.5turn); */
  /*    transform: rotate(0.25turn); */
}

/* 
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
=
*/

/* الميزة اللي تحت تستخدم احيانا في الحركات المميزة */
img {
  overflow: hidden;
  width: 720px;
  height: 350px;
}

.image img {
  transition: 0.3s;
}

.image:hover img {
  transform: scale(2);
  opacity: 0.6;
}
