/* 2D Tranform
    --Translate
    هذا احسن خاصيو لتحريك العناصر
    margin..etcاحسن من ال
    translate(X,Y)
    translate(50px,100px):element is moved 50 pixels to the right, and 100 pixels down from its current position.
        X-Axis
            - CSS Unit [px, em, rem]
            - %
            - Keyword
                -- Left = 0%
                -- Center = 50%
                -- Right = 100%
        Y-Axis
            - CSS Unit [px, em, rem]
            - %
            - Keyword
                -- Top = 0%
                -- Center = 50%
                -- Bottom = 100%

https://www.w3schools.com/css/css3_2dtransforms.asp 
https://www.paulirish.com/2012/why-moving-elements-with-translate-is-better-than-posabs-topleft/ 
https://stackoverflow.com/questions/11100747/css-translation-vs-changing-absolute-positioning-values 
https://css-tricks.com/tale-of-animation-performance/ 

prefixisلا تنسى ال 
*/
div {
  margin: 200px auto;
  width: 200px;
  height: 200px;
  background-color: rgb(255 0 0 / 39%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

div:hover {
  transition: 1s;
  transform: translate(-100px, -100px);
}
