/*
 Explanation of the different parts:

Content - The content of the box, where text and images appear
Padding - Clears an area around the content. The padding is transparent
Border - A border that goes around the padding and content
Margin - Clears an area outside the border. The margin is transparent
The box model allows us to add a border around elements, and to define space between elements. 
  The outline between border and margin.
 
*/
div {
  background-color: #ddd;
  padding: 10px;
  width: 70%;
  margin: auto;
  /* 70+10=100 */
  /* 
  border-width: 10px;
  border-color: red; 
  border-style: solid;  
   */
  border: 10px solid red;
  /* width style color */
}

/* Box model: content, padding, border. The margin outside the box.
  The outline between border and margin.
*/
