/*

  Block

  - Take Full Width If No Width
  - Add Line Break
  *- Respect Padding, Margin, Width, Height

  Inline

  !- Do Not Repsepct Width, Height
  *- Respect Padding And Margin [ Just right + Left ]
  - Do Not Add Line Break
  - Allow Elements Before And After It in The Same Line

  Inline-Block
   
  - hybrid-مزيج
  - Allow Elements Before And After It in The Same Line
  - Respect Padding, Margin, Width, Height

*/

span {
  background-color: #eee;
  display: inline-block;
  /* display: block; */
  /* display: inline; */
  /* margin: 10px; */
  /* padding: 10px; */
  /* width: 300px; */
  /* height: 10%; */
}

div {
  background-color: aqua;
  /* display: inline-block; */
  /* display: block; */
  /* display: inline; */
  /* margin: 10px 0px; */
  /* padding: 10px 0px; */
  /* width: 300px; */
  /* height: 10%; */
}
