/* 
1. letter-spacing: مسافات بين الأحرف 

2. word-spacing: المسافة بين الكلمات 

3. line-height:المسافة بين الأسطر
line-height: 1.6 or 1.7 or 160% الاكثر استخداما

1&2&3 جميعهم يقبلون القيمة السالبة

4. text-indent: المساحة الفاضية اللي قبل الكلام
        احيانا<code>يتم استخدامها في ال
https://www.w3schools.com/cssref/pr_text_text-indent.asp

5. white-space:
https://www.w3schools.com/cssref/pr_text_white-space.asp

6. word-break:
https://www.w3schools.com/cssref/css3_pr_word-break.asp
https://www.w3schools.com/cssref/css3_pr_word-wrap.asp

7. writing-mode:
https://www.w3schools.com/cssref/css3_pr_writing-mode.asp

 */

div {
        background-color: #f9f9f9;
        word-spacing: 5px;
}