div {
  background-color: #f9f9f9;
  text-transform: capitalize;
  /* text-transform: lowercase; */
  /* text-transform: uppercase; */
}

/* text-transform: smallاخلي الكتابة htmlالصح انو في ملف ال 
https://www.w3schools.com/cssref/pr_text_text-transform.asp
*/
a {
  text-decoration: none;
  /* text-decoration: line-through; */
  /* text-decoration: underline red; */
  /* underline is default */
  /* text-decoration: overline; */
}
/* text-decoration: يستخدم في حالة الروابط اكثر شيء
https://www.w3schools.com/cssref/pr_text_text-decoration.asp
*/
