a {
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    color: white;
    background-color: teal;
    padding: 30px 50px;
    text-transform: capitalize;
    border-bottom: 10px solid rgb(2, 93, 93);
    margin: 50%
}