/*
CSS Selectors: https://www.w3schools.com/cssref/css_selectors.asp
================================================================================================
078: Part One

    - *
    - Element => [p, div, h2]
    - Element OtherElement => div p
    - .class-name
    - #id-name
    - .parent .child
    - .class-one.class-two =>  elementكلاسين في نفس ال
    - .class-name div, .class-name p
    - Element.class-name => p.class-name تحديد خاص
    - .parent > .child => Direct Child مباشرة

================================================================================================
================================================================================================
================================================================================================
079: Part Two

    - Element + Other Element => [div + p] العنصر التالي مباشرة
    - Element ~ Other Elements => [p ~ div] siblings   pاباه divتخصيص كل 
    - [Attribute] => [title]
    - Element[Attribute] => div[title]
    - [Attribute=Value] => [title="S01"]
    - Element[Attribute=Value] => input[type="submit"]
    - [Attribute~=Value] => Contains A Word
    - [Attribute*=Value] => Contains A String
    - [Attribute^=Value] => Start With A String

================================================================================================
================================================================================================
================================================================================================
080: Part Three

    - :first-child الاول من الأبناء
    - :last-child الاخر من الابناء
    - :first-of-type الاول من نوعه
    - :last-of-type الاخر من نوعه
    - :only-child الابن الوحيد
    - :only-of-type الوحيد من نوعه

================================================================================================
================================================================================================
================================================================================================
081: Part Four

    - :not(Selectors) نفي
    - :nth-child(n) => p:nth-child(2) الابن رقم اثنان
        --- p:nth-child(even/odd) الابناء الزوجية او الفردية
    - :nth-last-child(n)  افضل من اللي قبل في العد
    - :nth-of-type(n) افضل من اللي قبل
    - :nth-last-of-type(n)

================================================================================================
================================================================================================
================================================================================================
082: Part Five 

    - :root
    - :checked
    - :empty
    - :disabled
    - :required
    - :focus
    - ::selection
    - ::placeholder

================================================================================================
================================================================================================
================================================================================================
*/

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}